**/migrations/
**/__pycache__/
*/__init__.py:Zone.Identifier
*.py:Zone.Identifier
# apps.py:Zone.Identifier
# default.py:Zone.Identifier
# forms.py:Zone.Identifier
# models.py:Zone.Identifier
# tests.py:Zone.Identifier
# urls.py:Zone.Identifier
# views.py:Zone.Identifier
